/dts-v1/;
#include "am33xx.dtsi"
#include "am335x-bone-common.dtsi"
#include "am335x-boneblack-common.dtsi"

/ {
	model = "TI AM335x BeagleBone";
	compatible = "ti,am335x-bone", "ti,am33xx";
};

&am33xx_pinmux {

	i2c1_pins: i2c1-pins {
		pinctrl-single,pins = <
			AM33XX_PADCONF(0x958, PIN_INPUT_PULLUP, MUX_MODE2)		/* spi0_d1.i2c2_sda */
			AM33XX_PADCONF(0x95c, PIN_INPUT_PULLUP, MUX_MODE2)		/* spi0_cs0.i2c2_scl */
		>;
	};
	
	uart1_pins: uart1-pins {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_UART1_RXD, PIN_INPUT_PULLUP, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_UART1_TXD, PIN_OUTPUT_PULLDOWN, MUX_MODE0)
		>;
	};
	
	/* P1_02 (ZCZ ball R5) gpio2_23 */
	P1_02_default_pin: pinmux_P1_02_default_pin { pinctrl-single,pins = <
		AM33XX_IOPAD(0x08e4, PIN_INPUT | MUX_MODE7) >; };			/* lcd_hsync.gpio2_23 */
	P1_02_gpio_pin: pinmux_P1_02_gpio_pin { pinctrl-single,pins = <
		AM33XX_IOPAD(0x08e4, PIN_OUTPUT | INPUT_EN | MUX_MODE7) >; };		/* lcd_hsync.gpio2_23 */
	P1_02_gpio_pu_pin: pinmux_P1_02_gpio_pu_pin { pinctrl-single,pins = <
		AM33XX_IOPAD(0x08e4, PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7) >; };	/* lcd_hsync.gpio2_23 */
	P1_02_gpio_pd_pin: pinmux_P1_02_gpio_pd_pin { pinctrl-single,pins = <
		AM33XX_IOPAD(0x08e4, PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7) >; };	/* lcd_hsync.gpio2_23 */
	P1_02_gpio_input_pin: pinmux_P1_02_gpio_input_pin { pinctrl-single,pins = <
		AM33XX_IOPAD(0x08e4, PIN_INPUT | MUX_MODE7) >; };			/* lcd_hsync.gpio2_23 */
	P1_02_pruout_pin: pinmux_P1_02_pruout_pin { pinctrl-single,pins = <
		AM33XX_IOPAD(0x08e4, PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE5) >; };	/* lcd_hsync.pru1_out9 */
	P1_02_pruin_pin: pinmux_P1_02_pruin_pin { pinctrl-single,pins = <
		AM33XX_IOPAD(0x08e4, PIN_INPUT | MUX_MODE6) >; };			/* lcd_hsync.pru1_in9 */

};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;

	status = "okay";
	clock-frequency = <100000>;

};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pins>;

	status = "okay";
};

&ocp {
	/************************/
	/* P1 Header */
	/************************/

	/* P1_01                VIN-AC */

	/* P1_02 (ZCZ ball R5) gpio_input */
	P1_02_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "gpio_input", "pruout", "pruin";
		pinctrl-0 = <&P1_02_default_pin>;
		pinctrl-1 = <&P1_02_gpio_pin>;
		pinctrl-2 = <&P1_02_gpio_pu_pin>;
		pinctrl-3 = <&P1_02_gpio_pd_pin>;
		pinctrl-4 = <&P1_02_gpio_input_pin>;
		pinctrl-5 = <&P1_02_pruout_pin>;
		pinctrl-6 = <&P1_02_pruin_pin>;
	};
	
	cape-universal {
		compatible = "gpio-of-helper";
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&P1_02_gpio_input_pin>;

		P1_02 {
			gpio-name = "P1_02";
			gpio = <&gpio1 23 0>;
			input;
			dir-changeable;
		};
	};	
};






